body {
    font-family: cambria, arial;
    background: #e6e6e6;
    max-width: 900px;
    margin: auto;
}

#title_resume, .foot_title {
    color: #707070;
}

#title_resume {
    font-size: 30px;
    text-transform: uppercase;
    margin: 0;
    margin-bottom: 15px;
}
.content {
    background: #fff;
    padding: 15px;
    border: 0;
    margin-bottom: 15px;
}

p {
    color: #707070;
    margin-bottom: 15px;
}

.footer {
    background: #fff;
    padding: 15px;
    margin: 0;

}
.foot_title {
    font-size: 20px;
    margin: 0;
    margin-bottom: 15px;
}

.contacts_list {
    padding-left: 50px;
}

.Email {
    list-style-image: url(Gmail-Logo.png);
}

.linkedin {
    list-style-image: url(linkedin.png);
}

.git {
    list-style-image: url(git.png)
}
